.app {
  text-align: center;
  .header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white;
    .logo {
      height: 80px;
    }
  }
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    h1 {
      padding-top: 25px;
      font-size: 1.6em;
    }
    .form {
      padding-top: 20px;
    }
  }
}