.app {
  text-align: center;
  .header {
    background-color: #222;
    height: 120px;
    padding: 20px;
    color: white;
    .logo {
      height: 80px;
    }
  }
  .form-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    h1 {
      padding-top: 25px;
      font-size: 1.6em;
    }
    .form {
      padding-top: 20px;
    }
  }
}
.processing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  .info {
    text-transform: uppercase;
    max-width: 240px;
    padding-top: 10%;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
  }
}